auto-save-list/
elpa/
export/
ac-comphist.dat
eproject.lst
\#*
.cache
/eww-bookmarks
.emacs.desktop
.emacs.desktop.lock
semanticdb/
edts/
.recentf
.recentf~
tramp
crown/
*.stackdump
bookmarks
.DS_Store
tmp/
.python-environments/
server/
*.elc
*.pyc
/*.zip
*.db
python-*-docs-html
.mc-lists.el

